.subheader {
  display: flex;
  height: 30px;
  align-items: center;
  background-color: #0a2d49;
  color: white;
  font-size: 15px;
  justify-content: space-between;
  box-sizing: content-box;
}
.allButton > Button {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  text-transform: capitalize;
}

.subheader__icon {
  margin-left: 30px;
  text-decoration: none;
}

.subheader__listItems {
  position: absolute;
  margin-left: 70px;
}

.subheader__listItems > Button {
  justify-content: left;
  margin-left: 10px;
  color: white;
  text-transform: capitalize;
}

.subheader__covid {
  margin-right: 10px;
  font-weight: 700;
}
